@import "tailwindcss";
@import "./theme/index.css";


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

#app {
    height: 100%;
    width: 100%;
    background-color: var(--bg-secondary);
  }

.no-drag {
  -webkit-app-region: no-drag;
}

.drag-region {
  -webkit-app-region: drag;
}
